<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-shop-heading" jhiTranslate="doraposApp.shop.home.createOrEditLabel">Create or edit a Shop</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!shop.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraposApp.shop.shopName" for="field_shopName">Shop Name</label>
                    <input type="text" class="form-control" name="shopName" id="field_shopName"
                           formControlName="shopName"/>
                    <div *ngIf="editForm.get('shopName').invalid && (editForm.get('shopName').dirty || editForm.get('shopName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('shopName').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraposApp.shop.shopAccountType" for="field_shopAccountType">Shop Account Type</label>
                    <select class="form-control" name="shopAccountType" formControlName="shopAccountType" id="field_shopAccountType">
                        <option value="TRIAL_ACCOUNT">{{'doraposApp.ShopAccountType.TRIAL_ACCOUNT' | translate}}</option>
                        <option value="SILVER_ACCOUNT">{{'doraposApp.ShopAccountType.SILVER_ACCOUNT' | translate}}</option>
                        <option value="GOLD_ACCOUNT">{{'doraposApp.ShopAccountType.GOLD_ACCOUNT' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraposApp.shop.approvalDate" for="field_approvalDate">Approval Date</label>
                    <div class="d-flex">
                        <input id="field_approvalDate" type="datetime-local" class="form-control" name="approvalDate" formControlName="approvalDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraposApp.shop.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                           formControlName="address"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraposApp.shop.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraposApp.shop.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraposApp.shop.note" for="field_note">Note</label>
                    <input type="text" class="form-control" name="note" id="field_note"
                           formControlName="note"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraposApp.shop.landland" for="field_landland">Landland</label>
                    <input type="text" class="form-control" name="landland" id="field_landland"
                           formControlName="landland"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraposApp.shop.mobile" for="field_mobile">Mobile</label>
                    <input type="text" class="form-control" name="mobile" id="field_mobile"
                           formControlName="mobile"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraposApp.shop.createdDate" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" formControlName="createdDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraposApp.shop.shopLogo" for="field_shopLogo">Shop Logo</label>
                    <div>
                        <img [src]="'data:' + editForm.get('shopLogoContentType').value + ';base64,' + editForm.get('shopLogo').value" style="max-height: 100px;" *ngIf="editForm.get('shopLogo').value" alt="shop image"/>
                        <div *ngIf="editForm.get('shopLogo').value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{editForm.get('shopLogoContentType').value}}, {{byteSize(editForm.get('shopLogo').value)}}</span>
                            <button type="button" (click)="clearInputImage('shopLogo', 'shopLogoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_shopLogo" (change)="setFileData($event, 'shopLogo', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="shopLogo" id="field_shopLogo"
                           formControlName="shopLogo"/>
                    <input type="hidden" class="form-control" name="shopLogoContentType" id="field_shopLogoContentType"
                           formControlName="shopLogoContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraposApp.shop.shopLogoUrl" for="field_shopLogoUrl">Shop Logo Url</label>
                    <input type="text" class="form-control" name="shopLogoUrl" id="field_shopLogoUrl"
                           formControlName="shopLogoUrl"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraposApp.shop.active" for="field_active">Active</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                           formControlName="active"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraposApp.shop.currency" for="field_currency">Currency</label>
                    <input type="text" class="form-control" name="currency" id="field_currency"
                           formControlName="currency"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraposApp.shop.company" for="field_company">Company</label>
                    <select class="form-control" id="field_company" name="company" formControlName="companyId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="companyOption.id" *ngFor="let companyOption of companies; trackBy: trackCompanyById">{{companyOption.companyName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraposApp.shop.approvedBy" for="field_approvedBy">Approved By</label>
                    <select class="form-control" id="field_approvedBy" name="approvedBy" formControlName="approvedById">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="profileOption.id" *ngFor="let profileOption of profiles; trackBy: trackProfileById">{{profileOption.firstName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
