<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-system-events-history-heading" jhiTranslate="doraposApp.systemEventsHistory.home.createOrEditLabel">Create or edit a System Events History</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!systemEventsHistory.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraposApp.systemEventsHistory.eventName" for="field_eventName">Event Name</label>
                    <input type="text" class="form-control" name="eventName" id="field_eventName"
                           formControlName="eventName"/>
                    <div *ngIf="editForm.get('eventName').invalid && (editForm.get('eventName').dirty || editForm.get('eventName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('eventName').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraposApp.systemEventsHistory.eventDate" for="field_eventDate">Event Date</label>
                    <div class="d-flex">
                        <input id="field_eventDate" type="datetime-local" class="form-control" name="eventDate" formControlName="eventDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraposApp.systemEventsHistory.eventApi" for="field_eventApi">Event Api</label>
                    <input type="text" class="form-control" name="eventApi" id="field_eventApi"
                           formControlName="eventApi"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraposApp.systemEventsHistory.eventNote" for="field_eventNote">Event Note</label>
                    <input type="text" class="form-control" name="eventNote" id="field_eventNote"
                           formControlName="eventNote"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraposApp.systemEventsHistory.eventEntityName" for="field_eventEntityName">Event Entity Name</label>
                    <input type="text" class="form-control" name="eventEntityName" id="field_eventEntityName"
                           formControlName="eventEntityName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraposApp.systemEventsHistory.eventEntityId" for="field_eventEntityId">Event Entity Id</label>
                    <input type="number" class="form-control" name="eventEntityId" id="field_eventEntityId"
                           formControlName="eventEntityId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraposApp.systemEventsHistory.triggedBy" for="field_triggedBy">Trigged By</label>
                    <select class="form-control" id="field_triggedBy" name="triggedBy" formControlName="triggedById">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="profileOption.id" *ngFor="let profileOption of profiles; trackBy: trackProfileById">{{profileOption.firstName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
